button {
  background-color: #7dd47d;
  border: 3px solid #ffd800;
  height: 40px;
  width: 180px;
}

div {
  background-color: #c6bfbf;
  font-family: cursive;
}

input {
  background-color: #5dbddd;
  width: 100px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

textarea {
  background-color: black;
  color: white;
  width: 175px;
  height: 60px;
  font-size: 20px;
}

label {
  font-size: 25px;
}